@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.timer{
	text-align: center;
	.time{
		margin-bottom: 0px;
		line-height: 1.2em;
	}
	.teamname{
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
		font-size: 2rem;
	}
}


@media #{$small-up} { 
	.timer{
		.time{
			font-size: 5rem;
		}
	}
}

@media #{$medium-up} { 
	.timer{
		.time{
			font-size: 7rem;
		}
	}
}

@media #{$large-up} { 
	.timer{
		.time{
			font-size: 10rem;
		}
	}
}

table{
	width: 100%;
}

#timer-row{
	left: 0;
	right:0;
	margin: 0 auto;
	min-width: unset;
}

.panel{
	padding: 0px;
}
