<!doctype html>
<html class="no-js" lang="en" ng-app="raceberry-pi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Raceberry-Pi</h1>
      </div>
    </div>
    <div class="row" id="timer-row" data-magellan-expedition="fixed">
      <div class="large-12 columns panel" ng-controller="TimerController">
        <div id="timer" class="timer" ng-cloak>
          <p class="time">{{minutes}}:{{seconds}}.{{milliseconds}}</p>
          <p class="teamname">{{teamname}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center" ng-controller="ActionController">
        <button class="success" ng-click="start()">Start</button>
        <button class="alert" ng-click="stop()">Stop</button>
      </div>
    </div>
    <div class="row" ng-controller="RaceTimesController">
      <div class="large-8 columns">
        <h2>Rondetijden</h2>
        <table>
          <thead>
            <tr>
              <th width="50">Positie</th>
              <th width="75">Rondetijd</th>
              <th >Team</th>
              <th width="160">Datum</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="raceTime in raceTimes| offset: currentPage*itemsPerPage | limitTo: itemsPerPage | filter:searchText">
              <td>{{raceTime.position}}</td>
              <td>{{(raceTime.racetime / 1000).toFixed(2)}}s</td>
              <td>{{raceTime.teamname}}</td>
              <td>{{raceTime.timestamp}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-centered">
          <ul class="pagination">
            <li class="arrow" ng-class="prevPageDisabled()">
              <a href ng-click="prevPage()">&laquo;</a>
            </li>
            <li ng-repeat="n in range()"
              ng-class="{current: n == currentPage}" ng-click="setPage(n)">
              <a href="#">{{n+1}}</a>
            </li>

            <!-- <li class="unavailable"><a href="">&hellip;</a></li> -->

            <li class="arrow" ng-class="nextPageDisabled()">
              <a href ng-click="nextPage()">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row">
          <div class="large-12 columns">
            <h2>Filter</h2>
            <div class="row collapse postfix-round">
              <div class="small-9 columns">
                <input type="text" ng-model="searchText" placeholder="Team naam">
              </div>
              <div class="small-3 columns">
                <button class="button postfix" ng-click="clearSearch()"><i class="gen-enclosed fi-x"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h2>Parcours</h2>
            <img src="img/parcours.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" ng-controller="ChartController">
        <h2>Telemetrische gegevens:</h2>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" >
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation">
            <a href="#debug">Debug informatie</a>
            <div id="debug" class="content"></div>
          </li>
        </ul>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="js/app.js"></script>
    <script src="js/websocket.js"></script>
    
  </body>
</html>
