<!doctype html>
<html class="no-js" lang="en" ng-app="raceberry-pi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Raceberry-Pi</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns panel" ng-controller="TimerController">
        <div id="timer" class="timer" ng-cloak>
          {{minutes}}:{{seconds}}.{{milliseconds}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center" ng-controller="ActionController">
        <button class="success" ng-click="start()">Start</button>
        <button class="alert" ng-click="stop()">Stop</button>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns panel" ng-controller="ChartController">
        <h4>Telemetric data:</h4>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" >
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation">
            <a href="#debug">Debug information</a>
            <div id="debug" class="content"></div>
          </li>
        </ul>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="js/app.js"></script>
    <script src="js/websocket.js"></script>
    
  </body>
</html>
