<!doctype html>
<html class="no-js" lang="en" ng-app="raceberry-pi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Raceberry-Pi</h1>
      </div>
    </div>
    <div class="row" id="timer-row" data-magellan-expedition="fixed">
      <div class="large-12 columns panel" ng-controller="TimerController">
        <div id="timer" class="timer" ng-cloak>
          <p class="time">{{minutes}}:{{seconds}}.{{milliseconds}}</p>
          <p class="teamname">{{teamname}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center" ng-controller="ActionController">
        <button class="success" ng-click="start()">Start</button>
        <button class="alert" ng-click="stop()">Stop</button>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <h2>Rondetijden</h2>
        <table>
          <thead>
            <tr>
              <th width="50">Positie</th>
              <th>Rondetijd</th>
              <th width="150">Datum</th>
              <th >Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>12.35</td>
              <td>27/05/2015</td>
              <td>The Racers</td>
            </tr>
            <tr>
              <td>2</td>
              <td>15.56</td>
              <td>26/04/2015</td>
              <td>The Programmers</td>
            </tr>
            <tr>
              <td>3</td>
              <td>18.22</td>
              <td>01/05/2015</td>
              <td>Team Zero</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-centered">
          <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <div class="large-4 columns">
        <h2>Parcours</h2>
        <img src="img/parcours.jpg">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns panel" ng-controller="ChartController">
        <h4>Telemetric data:</h4>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" >
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation">
            <a href="#debug">Debug information</a>
            <div id="debug" class="content"></div>
          </li>
        </ul>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sticky/jquery.sticky.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="js/app.js"></script>
    <script src="js/websocket.js"></script>
    
  </body>
</html>
